// Client bug fixes
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Global window layout rules
window-rule {
    geometry-corner-radius 20
    clip-to-geometry true
    background-effect {
        blur true
        xray false
    }
}

// Noctalia styling integrations
window-rule {
    match app-id="dev.noctalia.Noctalia"
    open-floating true
    default-column-width { fixed 1080; }
    default-window-height { fixed 920; }
}

layer-rule {
    match namespace="^noctalia-backdrop"
    place-within-backdrop true
}

layer-rule {
    match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"
    background-effect {
        xray false
    }
}

// Steam Fixes
window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    open-focused false
    default-floating-position x=16 y=16 relative-to="bottom-right"
}

window-rule {
    match app-id="steam" title="^Friends List$"
    open-floating true
    default-column-width { fixed 380; }
    default-window-height { fixed 800; }
}

window-rule {
    match app-id="steam" title="^Steam - News$"
    match app-id="steam" title="^Steam Guard$"
    open-floating true
}

